body {
    // position: relative;
}

.header {
    background-color: rgba(26, 255, 0, 0.3);
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    color: #5C7CFA;
}

.header__form {
    display: flex;
}

.form__title {
    background-color: white;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #5C7CFA;
    color: #5C7CFA;
    background-color: inherit;
    transition: color, background-color 0.5s ease;
}

.form__title:hover {
    background-color: #5C7CFA;
    color: white;
}

.form__title:not(:last-child) {
    margin-right: 15px;
}

.form__registration {
    position: relative;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity 0.5s ease;
}

.form__registration.open {
    opacity: 1;
    visibility: visible;
}

.registration__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration__content {
    transform: translate(-100%);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: rgba(26, 255, 0, 0.2);
    transition: transform 0.5s ease;
    border-radius: 10px;
}


.form__registration.open .registration__content {
    transform: translate(0);
    transition: transform 0.5s ease;
}

.registration__close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #5C7CFA;
    cursor: pointer;
}

.registration__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #5C7CFA;
}

.registration__name {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.registration__pass {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.registration__show-pass {
    position: absolute;
    top: 211px;
    right: 35px;
    color: #5C7CFA;
}

.registration__surname {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.registration__age {
    margin-bottom: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.registration__phone {
    margin-bottom: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.registration__email {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.registration__button {
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #5C7CFA;
    background-color: rgba(26, 255, 0, 0.05);
    color: #5C7CFA;
    font-size: 20px;
}

.registration__button:hover {
    background-color: #5C7CFA;
    color: white;
    transition: all 0.5s ease;
}

.form__login {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity 0.5s ease;
}

.form__login.open {
    opacity: 1;
    visibility: visible;
}

.login__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__content {
    transform: translate(-100%);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: rgba(26, 255, 0, 0.2);
    transition: transform 0.5s ease;
}

.form__login.open .login__content {
    transform: translate(0);
    transition: transform 0.5s ease;
}

.login__close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #5C7CFA;
    cursor: pointer;
}

.login__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #5C7CFA;
}

.login__name {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.login__password {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.login__button {
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #5C7CFA;
    background-color: rgba(26, 255, 0, 0.05);
    color: #5C7CFA;
    font-size: 20px;
}

.login__button:hover {
    background-color: #5C7CFA;
    color: white;
    transition: all 0.5s ease;
}