.todo__main-block {
    padding: 15px 0;
    flex: 1 1 auto;
    text-align: center;
}

.main-block__text {
    font-size: 80px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    color: #000000;
}