@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&family=Source+Sans+Pro:wght@400;700;900&display=swap');
@import "normolize.scss";
@import "header.scss";
@import "main.scss";
@import "homePage.scss";
@import "footer.scss";
@import "userInfo.scss";

html,
body {
	height: 100%;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.lock {
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.todo {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}